Repository zhoujinsong/arctic, pull requests merged in 2022-11, with the labels that each got.

#8 fix check style
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  core/src/main/java/com/netease/arctic/io/writer/IcebergFanoutPosDeleteWriter.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/BaseExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergExecutor.java
Labels: module:core, module:ams, module:dashboard

#9 Add native iceberg table optimize test case
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
Labels: module:ams, module:dashboard

#10 fix repeat data files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMinorOptimizePlan.java
Labels: module:ams, module:dashboard

#11 fix native iceberg full optimize not remove old datafile
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
Labels: module:ams, module:dashboard

#12 Add iceberg combined read/write
  core/src/main/java/com/netease/arctic/iceberg/CombinedDeleteFilter.java
Labels: module:core

#13 Modify Optimize properties and add more test case
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcherTest.java
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/test/java/com/netease/arctic/TableTestBase.java
  site/docs/ch/meta-service/table-properties.md
Labels: module:core, module:ams, module:dashboard, type:docs

#14 Reduce optimize plan task cost time
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMinorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMinorOptimizePlan.java
Labels: module:ams, module:dashboard

#15 Remove useless method
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  core/src/main/java/com/netease/arctic/data/IcebergContentFile.java
Labels: module:core, module:ams, module:dashboard

#16 Add test case for iceberg v1 table optimizing and refactor ManifestEntry
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcher.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcherTest.java
  core/src/main/java/com/netease/arctic/IcebergFileEntry.java
  core/src/main/java/com/netease/arctic/scan/BaseChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
  core/src/main/java/com/netease/arctic/utils/ManifestEntryFields.java
  core/src/test/java/com/netease/arctic/scan/TableEntriesScanTest.java
Labels: module:core, module:ams, module:dashboard

#17 Fix load table cache
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/CatalogController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/OptimizerController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IOptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/CatalogUtil.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/TableStatCollector.java
Labels: module:ams, module:dashboard

#18 [ARCTIC-778][AMS]:Arctic support 3 table format
  ams/ams-dashboard/src/language/en.ts
  ams/ams-dashboard/src/main/resources/static/css/chunk-12ceb78d.6873dfdc.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-664cd0aa.1613c8a2.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-cad521b4.3731ed0b.css
  ams/ams-dashboard/src/main/resources/static/index.html
  ams/ams-dashboard/src/main/resources/static/js/app.156f7d8a.js
  ams/ams-dashboard/src/main/resources/static/js/app.f2e14040.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-12ceb78d.b0db4543.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-62ed7d78.f1bc6c0c.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-664cd0aa.c42f498e.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-cad521b4.685bb161.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-vendors.d688bf79.js
  ams/ams-dashboard/src/main/resources/static/js/editor.worker.js
  ams/ams-dashboard/src/main/resources/static/js/json.worker.js
  ams/ams-dashboard/src/views/catalogs/Detail.vue
Labels: module:dashboard
